/* MEDIA */

    header.section .inner {     /* header .inner 보다 .section .inner가 우선순위가 높으므로 header 내의 section클래스르 빌려와서 우선순위를 높힌다 */
        max-width: none;        /* 기존의 max width 초기화 */
        height: auto;           /* 햄버거가 되면 자동적으로 높이가 늘어나도록 초기화 해야한다 */
        padding: 0 20px;
    }
    header .sign-group,
    header .menu-group{
        float: none;
    }
    
    header .menu-group {
        display: block;         /* 로고 아래부분을 block으로 쌓이게 정의 */
    }
    header .logo {
        padding: 12px 0;
    }
    header .main-menu {
        display:block;          /* 기존에 display: flex인 것을 block으로 바꿈으로서 위에서 아래로 나오게 바꿈 */
        margin-bottom: 10px;
    }
    header .main-menu li{
        border-top: 1px solid #e5e5e5;
    }
    header .main-menu li a{
        padding: 16px 0;
    }
    header .sign-group {
        display: block;
        padding: 10px 0 20px;
    }
    header .btn-group {
        display: block;
    }
    header .btn-group .btn{
        justify-content: center;;
    }
    header .btn-group .sign-in{
        margin-right: 0;
        margin-bottom: 12px;
    }
    #search-form {
        margin-top: 12px;
        margin-right: 0;
    }
    #search {
        width: 100%;
        height: 36px;
        text-align: center;
    }
    header .sub-menu {
        margin-top: 12px;
        margin-right: 0;
        justify-content: center;
    }
    header .toggle {
        display: none;
    }     
    header .toggle.on {
        display: block;
    }            
    #toggle-btn {
        display: block;             /* 기본적으로 화면이 줄으면 보여야 한다. 기존에 설정된 내용을 보여주기만 하는 역할 */
    }
    

    /* VISUAL */
    .section--visual {
        background-image: url("../img/bg-small.jpg")
    }
    .section--visual .inner{
        display: block;
        max-width: none;
        padding: 80px 20px;   
    }
    .section--visual .summary {
        text-align: center;
        margin-right: 0;
        margin-bottom: 50px;
    }
    #sign-form {
        width: auto;            /* 기본값으로 초기화 */
        max-width: 500px;
        margin: 0 auto;
    }

    /* FEATURE */
    .section--feature .summary {
        padding: 66px 20px 0 20px;
    }

    .section--feature .tiles li {
        max-width: 50%;
    }
    .section--feature .tiles li:nth-child(2) {
        border-right: none;
    }
    .section--feature .tiles li img{
        padding: 14px 30% 24px
    }

    /* WHERE IS */
    .section--where-is .inner {
        max-width: none;                /* 넓이 초기화 */
        padding: 80px 20px 0 20px;
    }

    /* PRICING CARD */
    .section--pricing .inner {
        max-width: none;
        padding: 80px 20px;
    }
    .section--pricing .card .cell2{
        font-size: 20px;
    }

    /* FOOTER */
    footer .inner {
        padding: 50px 20px;
    }
    footer .logo {
        display: none;
    }
